.item-card {
  background: #1a1a1a;
  border-radius: 12px;
  padding: 16px;
  color: white;
  width: 260px;
  text-align: center;
  transition: 0.3s;
  border: 1px solid #333;
}

.item-card:hover {
  transform: scale(1.03);
}

.item-img {
  width: 100%;
  height: 260px;
  object-fit: cover;
  border-radius: 8px;
}

.item-title {
  font-size: 1.1rem;
  margin: 10px 0;
}

.item-price {
  color: #f59e0b;
  font-weight: bold;
  margin: 5px 0 15px;
}

.item-btn {
  background: #f59e0b;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
}
